#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    
    position:absolute;
    width:350px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    padding:10px;
    
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
